doctype html
head
    title Authly Reset Password
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style(type='text/css').
        #outlook a {
            padding: 0;
        }
        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        table,
        td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }
        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }
        p {
            display: block;
            margin: 13px 0;
        }
    //if mso
        noscript
          xml
            o:officedocumentsettings
              o:allowpng
                o:pixelsperinch 96
    //if lte mso 11
        style(type='text/css').
          .mj-outlook-group-fix {
          width: 100% !important;
          }
    // [if !mso] <!
    link(
        href='https://fonts.googleapis.com/css?family=Roboto:300,500',
        rel='stylesheet',
        type='text/css'
    )
    style(type='text/css').
        @import url(https://fonts.googleapis.com/css?family=Roboto:300,500);
    // <![endif]
    style(type='text/css').
        @media only screen and (min-width: 480px) {
            .mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
            }
            .mj-column-per-45 {
                width: 45% !important;
                max-width: 45%;
            }
        }
    style(media='screen and (min-width:480px)').
        .moz-text-html .mj-column-per-100 {
            width: 100% !important;
            max-width: 100%;
        }
        .moz-text-html .mj-column-per-45 {
            width: 45% !important;
            max-width: 45%;
        }
    style(type='text/css').
        @media only screen and (max-width: 480px) {
            table.mj-full-width-mobile {
                width: 100% !important;
            }
            td.mj-full-width-mobile {
                width: auto !important;
            }
        }
    style(type='text/css').
div(style='')
    //if mso | IE
        table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:600px;' width='600')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
    div(style='margin: 0px auto; max-width: 600px')
        table(
            align='center',
            border='0',
            cellpadding='0',
            cellspacing='0',
            role='presentation',
            style='width: 100%'
        )
            tbody
                tr
                    td(
                        style='\
                                                          direction: ltr;\
                                                          font-size: 0px;\
                                                          padding: 20px 0;\
                                                          text-align: center;\
                                                          '
                    )
                        //if mso | IE
                            table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                              tr
                                td(style='vertical-align:top;width:600px;')
                        .mj-column-per-100.mj-outlook-group-fix(
                            style='\
                                                                    font-size: 0px;\
                                                                    text-align: left;\
                                                                    direction: ltr;\
                                                                    display: inline-block;\
                                                                    vertical-align: top;\
                                                                    width: 100%;\
                                                                    '
                        )
                            table(
                                border='0',
                                cellpadding='0',
                                cellspacing='0',
                                role='presentation',
                                style='vertical-align: top',
                                width='100%'
                            )
                                tbody
                                    tr
                                        td(
                                            align='center',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 10px 25px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            div(
                                                style='\
                                                                                                                      font-family: Roboto,\
                                                                                                                      Helvetica,\
                                                                                                                      sans-serif;\
                                                                                                                      font-size: 24px;\
                                                                                                                      font-weight: bolder;\
                                                                                                                      line-height: 24px;\
                                                                                                                      text-align: center;\
                                                                                                                      color: blue;\
                                                                                                                      '
                                            )
                                                | Reset Password
                        //if mso | IE
    //if mso | IE
        table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:600px;' width='600')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
    div(style='margin: 0px auto; max-width: 600px')
        table(
            align='center',
            border='0',
            cellpadding='0',
            cellspacing='0',
            role='presentation',
            style='width: 100%'
        )
            tbody
                tr
                    td(
                        style='\
                                                          direction: ltr;\
                                                          font-size: 0px;\
                                                          padding: 0px;\
                                                          text-align: center;\
                                                          '
                    )
                        //if mso | IE
                            table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                              tr
                                td(style='vertical-align:top;width:600px;')
                        .mj-column-per-100.mj-outlook-group-fix(
                            style='\
                                                                    font-size: 0px;\
                                                                    text-align: left;\
                                                                    direction: ltr;\
                                                                    display: inline-block;\
                                                                    vertical-align: top;\
                                                                    width: 100%;\
                                                                    '
                        )
                            table(
                                border='0',
                                cellpadding='0',
                                cellspacing='0',
                                role='presentation',
                                style='vertical-align: top',
                                width='100%'
                            )
                                tbody
                                    tr
                                        td(
                                            align='center',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 10px 25px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            table(
                                                border='0',
                                                cellpadding='0',
                                                cellspacing='0',
                                                role='presentation',
                                                style='\
                                                                                                                      border-collapse: collapse;\
                                                                                                                      border-spacing: 0px;\
                                                                                                                      '
                                            )
                                                tbody
                                                    tr
                                                        td(
                                                            style='\
                                                                                                                                                    width: 250px;\
                                                                                                                                                    '
                                                        )
                                                            img(
                                                                height='250',
                                                                src='https://i.ibb.co/GxMq119/authly.png',
                                                                style='\
                                                                                                                                                              border: 0;\
                                                                                                                                                              display: block;\
                                                                                                                                                              outline: none;\
                                                                                                                                                              text-decoration: none;\
                                                                                                                                                              height: 250px;\
                                                                                                                                                              width: 100%;\
                                                                                                                                                              font-size: 13px;\
                                                                                                                                                              ',
                                                                width='250'
                                                            )
                        //if mso | IE
    //if mso | IE
        table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:600px;' width='600')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
    div(style='margin: 0px auto; max-width: 600px')
        table(
            align='center',
            border='0',
            cellpadding='0',
            cellspacing='0',
            role='presentation',
            style='width: 100%'
        )
            tbody
                tr
                    td(
                        style='\
                                                          direction: ltr;\
                                                          font-size: 0px;\
                                                          padding: 0px;\
                                                          text-align: center;\
                                                          '
                    )
                        //if mso | IE
                            table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                              tr
                                td(style='vertical-align:top;width:600px;')
                        .mj-column-per-100.mj-outlook-group-fix(
                            style='\
                                                                    font-size: 0px;\
                                                                    text-align: left;\
                                                                    direction: ltr;\
                                                                    display: inline-block;\
                                                                    vertical-align: top;\
                                                                    width: 100%;\
                                                                    '
                        )
                            table(
                                border='0',
                                cellpadding='0',
                                cellspacing='0',
                                role='presentation',
                                style='vertical-align: top',
                                width='100%'
                            )
                                tbody
                                    tr
                                        td(
                                            align='center',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 10px 25px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            div(
                                                style='\
                                                                                                                      font-family: Roboto,\
                                                                                                                      Helvetica,\
                                                                                                                      sans-serif;\
                                                                                                                      font-size: 16px;\
                                                                                                                      font-weight: 600;\
                                                                                                                      line-height: 24px;\
                                                                                                                      text-align: center;\
                                                                                                                      color: #616161;\
                                                                                                                      '
                                            )
                                                | Forgot Password? Not To
                                                | Worry
                        //if mso | IE
    //if mso | IE
        table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:600px;' width='600')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
    div(style='margin: 0px auto; max-width: 600px')
        table(
            align='center',
            border='0',
            cellpadding='0',
            cellspacing='0',
            role='presentation',
            style='width: 100%'
        )
            tbody
                tr
                    td(
                        style='\
                                                          direction: ltr;\
                                                          font-size: 0px;\
                                                          padding: 0px;\
                                                          text-align: center;\
                                                          '
                    )
                        //if mso | IE
                            table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                              tr
                                td(style='vertical-align:top;width:270px;')
                        .mj-column-per-45.mj-outlook-group-fix(
                            style='\
                                                                    font-size: 0px;\
                                                                    text-align: left;\
                                                                    direction: ltr;\
                                                                    display: inline-block;\
                                                                    vertical-align: top;\
                                                                    width: 100%;\
                                                                    '
                        )
                            table(
                                border='0',
                                cellpadding='0',
                                cellspacing='0',
                                role='presentation',
                                style='vertical-align: top',
                                width='100%'
                            )
                                tbody
                                    tr
                                        td(
                                            align='center',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 0px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            div(
                                                style='\
                                                                                                                      font-family: Roboto,\
                                                                                                                      Helvetica,\
                                                                                                                      sans-serif;\
                                                                                                                      font-size: 16px;\
                                                                                                                      font-weight: 400;\
                                                                                                                      line-height: 24px;\
                                                                                                                      text-align: center;\
                                                                                                                      color: #616161;\
                                                                                                                      '
                                            )
                                                | CLICK THE LINK BELOW
                                    tr
                                        td(
                                            align='center',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 10px 25px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            p(
                                                style='\
                                                                                                                      border-top: solid\
                                                                                                                      2px #616161;\
                                                                                                                      font-size: 1px;\
                                                                                                                      margin: 0px auto;\
                                                                                                                      width: 100%;\
                                                                                                                      '
                                            )
                                            //if mso | IE
                                                table(align='center' border='0' cellpadding='0' cellspacing='0' style='\
                                                border-top: solid\
                                                2px #616161;\
                                                font-size: 1px;\
                                                margin: 0px auto;\
                                                width: 220px;\
                                                ' role='presentation' width='220px')
                                                  tr
                                                    td(style='\
                                                    height: 0;\
                                                    line-height: 0;\
                                                    ')
                                                |                                                     [endif]
                                    tr
                                        td(
                                            align='center',
                                            vertical-align='middle',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 10px 25px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            table(
                                                border='0',
                                                cellpadding='0',
                                                cellspacing='0',
                                                role='presentation',
                                                style='\
                                                                                                                      border-collapse: separate;\
                                                                                                                      line-height: 100%;\
                                                                                                                      '
                                            )
                                                tbody
                                                    tr
                                                        td(
                                                            align='center',
                                                            bgcolor='blue',
                                                            role='presentation',
                                                            style='\
                                                                                                                                                    border: none;\
                                                                                                                                                    border-radius: 50px;\
                                                                                                                                                    cursor: auto;\
                                                                                                                                                    mso-padding-alt: 10px\
                                                                                                                                                    25px;\
                                                                                                                                                    background: blue;\
                                                                                                                                                    ',
                                                            valign='middle'
                                                        )
                                                            a(
                                                                href=reset_url,
                                                                style='\
                                                                                                                                                              display: inline-block;\
                                                                                                                                                              background: blue;\
                                                                                                                                                              color: #ffffff;\
                                                                                                                                                              font-family: Roboto,\
                                                                                                                                                              Helvetica,\
                                                                                                                                                              sans-serif;\
                                                                                                                                                              font-size: 18px;\
                                                                                                                                                              font-weight: normal;\
                                                                                                                                                              line-height: 120%;\
                                                                                                                                                              margin: 0;\
                                                                                                                                                              text-decoration: none;\
                                                                                                                                                              text-transform: none;\
                                                                                                                                                              padding: 10px\
                                                                                                                                                              25px;\
                                                                                                                                                              mso-padding-alt: 0px;\
                                                                                                                                                              border-radius: 50px;\
                                                                                                                                                              ',
                                                                target='_blank'
                                                            )
                                                                | Reset
                                                                | Password
                                    tr
                                        td(
                                            align='center',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 10px 25px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            p(
                                                style='\
                                                                                                                      border-top: solid\
                                                                                                                      2px #616161;\
                                                                                                                      font-size: 1px;\
                                                                                                                      margin: 0px auto;\
                                                                                                                      width: 45%;\
                                                                                                                      '
                                            )
                                            //if mso | IE
                                                table(align='center' border='0' cellpadding='0' cellspacing='0' style='\
                                                border-top: solid\
                                                2px #616161;\
                                                font-size: 1px;\
                                                margin: 0px auto;\
                                                width: 99px;\
                                                ' role='presentation' width='99px')
                                                  tr
                                                    td(style='\
                                                    height: 0;\
                                                    line-height: 0;\
                                                    ')
                                                |                                                     [endif]
                        //if mso | IE
    //if mso | IE
        table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:600px;' width='600')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
    div(style='margin: 0px auto; max-width: 600px')
        table(
            align='center',
            border='0',
            cellpadding='0',
            cellspacing='0',
            role='presentation',
            style='width: 100%'
        )
            tbody
                tr
                    td(
                        style='\
                                                          direction: ltr;\
                                                          font-size: 0px;\
                                                          padding: 0px;\
                                                          padding-top: 30px;\
                                                          text-align: center;\
                                                          '
                    )
                        //if mso | IE
                            table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                              tr
                                td(style='vertical-align:top;width:600px;')
                        .mj-column-per-100.mj-outlook-group-fix(
                            style='\
                                                                    font-size: 0px;\
                                                                    text-align: left;\
                                                                    direction: ltr;\
                                                                    display: inline-block;\
                                                                    vertical-align: top;\
                                                                    width: 100%;\
                                                                    '
                        )
                            table(
                                border='0',
                                cellpadding='0',
                                cellspacing='0',
                                role='presentation',
                                style='vertical-align: top',
                                width='100%'
                            )
                                tbody
                                    tr
                                        td(
                                            align='left',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 10px 25px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            div(
                                                style='\
                                                                                                                      font-family: Roboto,\
                                                                                                                      Helvetica,\
                                                                                                                      sans-serif;\
                                                                                                                      font-size: 16px;\
                                                                                                                      font-weight: 16px;\
                                                                                                                      line-height: 24px;\
                                                                                                                      text-align: left;\
                                                                                                                      color: #616161;\
                                                                                                                      '
                                            )
                                                p Hello User,
                                                p
                                                    | If You didnt request
                                                    | for password
                                                    | request, u can
                                                    | safely ignore this
                                                    | email
                                    tr
                                        td(
                                            align='left',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 10px 25px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            div(
                                                style='\
                                                                                                                      font-family: Roboto,\
                                                                                                                      Helvetica,\
                                                                                                                      sans-serif;\
                                                                                                                      font-size: 16px;\
                                                                                                                      font-weight: 16px;\
                                                                                                                      line-height: 24px;\
                                                                                                                      text-align: left;\
                                                                                                                      color: #616161;\
                                                                                                                      '
                                            )
                                                | Thank You
                        //if mso | IE
    //if mso | IE
        table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:600px;' width='600')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
    div(style='margin: 0px auto; max-width: 600px')
        table(
            align='center',
            border='0',
            cellpadding='0',
            cellspacing='0',
            role='presentation',
            style='width: 100%'
        )
            tbody
                tr
                    td(
                        style='\
                                                          direction: ltr;\
                                                          font-size: 0px;\
                                                          padding: 0px;\
                                                          text-align: center;\
                                                          '
                    )
                        //if mso | IE
                            table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                              tr
                                td(style='vertical-align:top;width:600px;')
                        .mj-column-per-100.mj-outlook-group-fix(
                            style='\
                                                                    font-size: 0px;\
                                                                    text-align: left;\
                                                                    direction: ltr;\
                                                                    display: inline-block;\
                                                                    vertical-align: top;\
                                                                    width: 100%;\
                                                                    '
                        )
                            table(
                                border='0',
                                cellpadding='0',
                                cellspacing='0',
                                role='presentation',
                                style='vertical-align: top',
                                width='100%'
                            )
                                tbody
                                    tr
                                        td(
                                            align='center',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 10px 25px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            p(
                                                style='\
                                                                                                                      border-top: solid\
                                                                                                                      2px #616161;\
                                                                                                                      font-size: 1px;\
                                                                                                                      margin: 0px auto;\
                                                                                                                      width: 100%;\
                                                                                                                      '
                                            )
                                            //if mso | IE
                                                table(align='center' border='0' cellpadding='0' cellspacing='0' style='\
                                                border-top: solid\
                                                2px #616161;\
                                                font-size: 1px;\
                                                margin: 0px auto;\
                                                width: 550px;\
                                                ' role='presentation' width='550px')
                                                  tr
                                                    td(style='\
                                                    height: 0;\
                                                    line-height: 0;\
                                                    ')
                                                |                                                     [endif]
                                    tr
                                        td(
                                            align='center',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 10px 25px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            table(
                                                border='0',
                                                cellpadding='0',
                                                cellspacing='0',
                                                role='presentation',
                                                style='\
                                                                                                                      border-collapse: collapse;\
                                                                                                                      border-spacing: 0px;\
                                                                                                                      '
                                            )
                                                tbody
                                                    tr
                                                        td(
                                                            style='\
                                                                                                                                                    width: 30px;\
                                                                                                                                                    '
                                                        )
                                                            img(
                                                                height='30',
                                                                src='https://i.ibb.co/GxMq119/authly.png',
                                                                style='\
                                                                                                                                                              border: 0;\
                                                                                                                                                              display: block;\
                                                                                                                                                              outline: none;\
                                                                                                                                                              text-decoration: none;\
                                                                                                                                                              height: 30px;\
                                                                                                                                                              width: 100%;\
                                                                                                                                                              font-size: 13px;\
                                                                                                                                                              ',
                                                                width='30'
                                                            )
                                    tr
                                        td(
                                            align='center',
                                            style='\
                                                                                                            font-size: 0px;\
                                                                                                            padding: 10px 25px;\
                                                                                                            word-break: break-word;\
                                                                                                            '
                                        )
                                            div(
                                                style='\
                                                                                                                      font-family: Roboto,\
                                                                                                                      Helvetica,\
                                                                                                                      sans-serif;\
                                                                                                                      font-size: 16px;\
                                                                                                                      font-weight: bold;\
                                                                                                                      line-height: 24px;\
                                                                                                                      text-align: center;\
                                                                                                                      color: #616161;\
                                                                                                                      '
                                            )
                                                | Authly, &copy;Copyright
                                                | 2023, Foster Z
                        //if mso | IE
    //if mso | IE
