extends ../templates/base.pug
block title
    title Account

block content
    .account-container 
        h1.has-text-centered.is-size-1 Your Account
        .account-sections
            .profile-info-container.account-section-cell
                h2.is-size-3 User Profile
                form(action="account/user/upload/profile_pic" method="POST" enctype="multipart/form-data").profile-info-container-pic
                    .profile-section
                        if user.profile_image === null
                            img(
                                src='./img/application/user.png',
                                alt='Account Profile Picture'
                            )
                        else
                            img(
                                src=`${user.profile_image}`,
                                alt='Account Profile Picture'
                            )
                        label(for='profile-pic-input')
                            i.bi.bi-camera
                        input#profile-pic-input.profile-pic-input(
                            type='file',
                            accept='.jpg,.jpeg,.png,.svg,.bmp,.gif,.avif',
                            name='profile_picture'
                        )
                    if user.profile_image === null
                        p.has-text-secondary Upload Profile Picture
                        p.span-error #{ imageUploadError }
                    .profile-button-section
                        button.button.profile-pic-upload-button(type="submit") Upload
                        button.button.profile-pic-delete-button(type="submit") Delete

                form(action="/account" method="POST" autocomplete="off").profile-info.is-size-5
                    if user!==undefined
                        .fname
                            h3 Name
                            p #{user.fname}
                        .uname
                            h3 Username
                            p #{user.uname}
                        .email
                            h3 Email
                            p #{user.email}
                    else
                        .fname
                            h3 Name
                            p Full Name
                        .uname
                            h3 Username
                            p Username
                        .email
                            h3 Email
                            p Email Address
                .account-page-btn-container
                    form.is-flex.flex-direction-row.is-justify-content-space-between.is-align-items-center(
                        action='/account/user/logout',
                        method='POST'
                    )
                        button.button.my-2.has-background-warning.has-text-white(
                            type='submit',
                        ) Log Out

                    form.is-flex.flex-direction-row.is-justify-content-space-between.is-align-items-center(
                        action='/account/user/delete',
                        method='POST'
                    )
                        button.button.my-2.has-background-danger.has-text-white(
                            type='submit',
                            value='account_delete'
                        ) Delete Account

            form.update-info-container.account-section-cell(
                action='account/user/update',
                method='POST'
            )
                h2.is-size-3 Update Your Info
                .update-info
                    h3.is-size-5 Change Details
                    .field
                        .control.has-icons-left.has-icons-right
                            input.input(
                                type='text',
                                name='account_update_fullname',
                                placeholder='Update Your Name'
                            )
                            span.icon.is-left
                                i.fa-solid.fa-signature
                        p.span-error.has-text-danger #{error.account_update_fullname}

                    .field
                        .control.has-icons-left.has-icons-right
                            input.input(
                                type='text',
                                name='account_update_username',
                                placeholder='Update Your Username'
                            )
                            span.icon.is-left
                                i.fa-solid.fa-user-circle
                        p.span-error.has-text-danger #{error.account_update_username}

                    .field
                        .control.has-icons-left.has-icons-right
                            input.input(
                                type='text',
                                name='account_update_email',
                                placeholder='Update Your Email'
                            )
                            span.icon.is-left
                                i.fa-solid.fa-envelope
                        p.span-error.has-text-danger #{error.account_update_email}

                    h3.is-size-5 Change Password
                    .field
                        .control.has-icons-left.has-icons-right
                            input#current-password.input(
                                type='password',
                                name='account_update_current_password',
                                placeholder='Type Current Password'
                            )
                            span.icon.is-left
                                i.fa-solid.fa-lock

                            span.icon.is-right
                                i#current-eye.fa-solid.fa-eye           
                        p.span-error.has-text-danger #{error.account_update_current_password}
                    .field
                        .control.has-icons-left.has-icons-right
                            input#new-password.input(
                                type='password',
                                name='account_update_new_password',
                                placeholder='Type New Password'
                            )
                            span.icon.is-left
                                i.fa-solid.fa-lock

                            span.icon.is-right
                                i#new-eye.fa-solid.fa-eye
                        p.span-error.has-text-danger #{error.account_update_new_password}
                    .field
                        .control.has-icons-left.has-icons-right
                            input#confirm-password.input(
                                type='password',
                                name='account_update_confirm_password',
                                placeholder='Confirm New Password'
                            )
                            span.icon.is-left
                                i.fa-solid.fa-lock

                            span.icon.is-right
                                i#confirm-eye.fa-solid.fa-eye
                        p.span-error.has-text-danger #{error.account_update_confirm_password}
                    .account-submit-section
                        hr
                        input.button.has-background-info.has-text-white(
                            type='submit',
                            name='account_submit_button',
                            value='Update Info'
                        )
    script(type="text/javascript").
        const currentEye = document.getElementById("current-eye");
        const newEye = document.getElementById("new-eye");
        const confirmEye = document.getElementById("confirm-eye");

        const currentPasswordField = document.getElementById("current-password");
        const newPasswordField = document.getElementById("new-password");
        const confirmPasswordField = document.getElementById("confirm-password");

        function togglePasswordField(input, button){
            button.addEventListener("click", () => {
                if(input.type === "password"){
                    input.type = "text"
                    button.className = "fa-solid fa-eye"
                }
                else {
                    input.type = "password"
                    button.className = "fa-solid fa-eye-slash"
                }
            })
        }

        togglePasswordField(currentPasswordField, currentEye)
        togglePasswordField(newPasswordField, newEye)
        togglePasswordField(confirmPasswordField, confirmEye)
