extends ../templates/base.pug
block title
    title Account

block navbar
    include ../shared/navbar.pug
block content
    .account-container 
        h1.has-text-centered.is-size-1 Your Account
        .account-sections
            .profile-info-container.account-section-cell
                h2.is-size-3 User Profile
                form.profile-info-container-pic(
                    action='account/user/upload/profile_pic',
                    method='POST',
                    enctype='multipart/form-data'
                )
                    .profile-section
                        if user === undefined || user.profile_image === null || user.profile_image === undefined
                            img(
                                src='./img/application/user.png',
                                alt='Account Profile Picture'
                            )
                        else
                            img(
                                src=`${user.profile_image}`,
                                alt='Account Profile Picture'
                            )
                        label(for='profile-pic-input')
                            i.bi.bi-camera
                        input#profile-pic-input.profile-pic-input(
                            type='file',
                            accept='.jpg,.jpeg,.png,.svg,.bmp,.gif,.avif',
                            name='profile_picture'
                        )
                    if user.profile_image === null || user.profile_image === undefined
                        p.has-text-secondary Upload Profile Picture
                        p.span-error #{ imageUploadError }
                    .profile-button-section
                        button.button.profile-pic-upload-button.mx-1(
                            type='submit'
                        ) Upload
                        button.button.profile-pic-delete-button.mx-1(
                            type='submit',
                            formaction='account/user/delete/profile_pic'
                        ) Delete
                        button.button.profile-pic-refresh-button.mx-1(
                            type='submit',
                            action='account',
                            method='GET'
                        ) Refresh

                form.profile-info.is-size-5(
                    action='/account',
                    method='POST',
                    autocomplete='off'
                )
                    if user!==undefined
                        .fname
                            h3 Name
                            p #{ user.fname }
                        .uname
                            h3 Username
                            p #{ user.uname }
                        .email
                            h3 Email
                            p #{ user.email }
                    else
                        .fname
                            h3 Name
                            p Full Name
                        .uname
                            h3 Username
                            p Username
                        .email
                            h3 Email
                            p Email Address
                .account-page-btn-container
                    form.is-flex.flex-direction-row.is-justify-content-space-between.is-align-items-center(
                        action='/account/user/logout',
                        s,
                        method='POST'
                    )
                        button.button.my-2.has-background-warning.has-text-white(
                            type='submit'
                        ) Log Out

                    form.is-flex.flex-direction-row.is-justify-content-space-between.is-align-items-center(
                        action='/account/user/delete',
                        method='POST'
                    )
                        button.button.my-2.has-background-danger.has-text-white(
                            type='submit',
                            value='account_delete'
                        ) Delete Account
            .account-section-cell
                form.update-info-container(
                    action='account/user/update/details',
                    method='POST'
                )
                    h2.is-size-3 Update Your Info
                    .update-info
                        h3.is-size-5 Change Details
                        .field
                            p.span-error.has-text-centered.has-text-danger #{ errors.accountUserExists }
                            p.span-error.has-text-centered.has-text-danger #{ errors.accountEmailUsed }
                        .field
                            .control.has-icons-left.has-icons-right
                                input.input(
                                    type='text',
                                    name='account_update_fullname',
                                    placeholder='Update Your Name'
                                )
                                span.icon.is-left
                                    i.fa-solid.fa-signature
                            p.span-error.has-text-danger #{ errors.accountFnameError }

                        .field
                            .control.has-icons-left.has-icons-right
                                input.input(
                                    type='text',
                                    name='account_update_username',
                                    placeholder='Update Your Username'
                                )
                                span.icon.is-left
                                    i.fa-solid.fa-user-circle
                            p.span-error.has-text-danger #{ errors.accountUnameError }

                        .field
                            .control.has-icons-left.has-icons-right
                                input.input(
                                    type='text',
                                    name='account_update_email',
                                    placeholder='Update Your Email'
                                )
                                span.icon.is-left
                                    i.fa-solid.fa-envelope
                            p.span-error.has-text-danger #{ errors.accountEmailError }
                        .account-submit-section
                            input.button.has-background-info.has-text-white(
                                type='submit',
                                name='account_submit_details',
                                value='Update Details'
                            )
                            hr
                form.update-info-container(
                    action='/account/user/update/password',
                    method='POST'
                )
                    h2.is-size-5 Change Password
                    p.span-error.has-text-danger #{ errors.wrongPassword }
                    p.span-error.has-text-danger #{ errors.passwordMatch }
                    .update-info
                        .field
                            .control.has-icons-left.has-icons-right
                                input#current-password.input(
                                    type='password',
                                    name='account_update_current_password',
                                    placeholder='Type Current Password',
                                    required
                                )
                                span.icon.is-left
                                    i.fa-solid.fa-lock
                            p.span-error.has-text-danger #{ errors.accountCurrentPasswordError }
                        .field
                            .control.has-icons-left.has-icons-right
                                input#new-password.input(
                                    type='password',
                                    name='account_update_new_password',
                                    placeholder='Type New Password',
                                    required
                                )
                                span.icon.is-left
                                    i.fa-solid.fa-lock
                            p.span-error.has-text-danger #{ errors.accountNewPasswordError }
                        .field
                            .control.has-icons-left.has-icons-right
                                input#confirm-password.input(
                                    type='password',
                                    name='account_update_confirm_password',
                                    placeholder='Confirm New Password',
                                    required
                                )
                                span.icon.is-left
                                    i.fa-solid.fa-lock
                            p.span-error.has-text-danger #{ errors.accountConfirmPasswordError }
                        .account-submit-section
                            input.button.has-background-info.has-text-white(
                                type='submit',
                                name='account_submit_password',
                                value='Update Password'
                            )