extends ../templates/base.pug
block title
    title Account

block content
    .account-container 
        |
        h1.has-text-centered.is-size-1 Your Account
        .account-sections
            .profile-info-container.account-section-cell
                h2.is-size-3 #{userinfo.fname}'s Profile
                .profile-info-container-pic
                    .profile-section
                        img(
                            src='./img/user.png',
                            alt='Account Profile Picture'
                        )
                        label(for='profile-pic-input')
                            i.bi.bi-camera
                        input#profile-pic-input.profile-pic-input(
                            type='file',
                            accept='.jpg,.jpeg,.png,.svg,.bmp,.gif,.avif',
                            name='profile-picture'
                        )
                .profile-info.is-size-5
                    .fname
                        h3 Name
                        p #{userinfo.fname}
                    .uname
                        h3 Username
                        p #{userinfo.uname}
                    .email
                        h3 Email
                        p #{userinfo.email}
                    
                    form(action="/account"  method="POST").account-page-btn-container.is-flex.flex-direction-row.is-justify-content-space-between.is-align-items-center
                        button.button.my-2.has-background-warning.has-text-white(
                            type="submit"
                            name='account_logout_button'
                        ) Log Out
                        button.button.my-2.has-background-danger.has-text-white(
                            type="submit"
                            name='account_delete_button'
                        ) Delete Account

            form(action="account/user/update" method="POST").update-info-container.account-section-cell
                h2.is-size-3 Update Your Info
                .update-info
                    h3.is-size-5 Change Details
                    input.input(
                        type='text',
                        name='update_fname',
                        placeholder='Update Your Name'
                    )
                    p #{errors.fnameError}
                    input.input(
                        type='text',
                        name='update_uname',
                        placeholder='Update Your Username'
                    )
                    p #{errors.unameError}
                    input.input(
                        type='email',
                        name='update_email',
                        placeholder='Update Your Email'
                    )
                    p #{errors.emailError}
                    h3.is-size-5 Change Password

                    input.input(
                        type='password',
                        name='update_current_password',
                        placeholder='Type Current Password'
                    )
                    p #{errors.emailError}
                    input.input(
                        type='password',
                        name='update_new_password',
                        placeholder='Type New Password'
                    )

                    input.input(
                        type='password',
                        name='update_confirm_password',
                        placeholder='Confirm New Password'
                    )
                    .account-submit-section
                        hr
                        input.button.has-background-info.has-text-white(
                            type='submit',
                            name='account_submit_button',
                            value="Update Info"
                        )