extends ../templates/base.pug
block title
    title Reset Password

block navbar
    include ../shared/navbar.pug
block content
    .fp-container
        form.fp-form(action='/user/reset-password', method='POST')
            h1.fp-header.is-size-4.has-text-white Reset Password
            .field
                p.span-error.has-text-centered.has-text-danger #{ resetErrors.passwordsMatches }
            .fp-input
                .field
                input.input(
                    type='password',
                    name='reset_new_password',
                    required,
                    placeholder='Type New Password...'
                )
                .field
                    p.span-error.has-text-centered.has-text-danger #{ resetErrors.newPassword }
                input.input(
                    type='password',
                    name='reset_confirm_password',
                    required,
                    placeholder='Confirm New Password...'
                )
                .field
                    p.span-error.has-text-centered.has-text-danger #{ resetErrors.confirmPassword }
                button.button.is-success.fp-button(type='submit') Submit
