extends ../templates/base.pug
block title
    title Create Account
    
block navbar
    include ../shared/navbar.pug

block content
    form.form-container(action='signup', method='POST')
        .field(style="text-align:center;")
            h1.is-size-1 Sign Up
            .error-container(style="text-align:center;")
                p.span-error.is-size-6.has-text-danger #{ userExists }
                p.span-error.is-size-6.has-text-danger #{ emailUsed }
        .field
            label.label Fullname
            .control.has-icons-left.has-icons-right
                input#signup-fname.input.is-link(
                    type='text',
                    placeholder='Fullname',
                    name='signup_fullname'
                )
                span.icon.is-small.is-left
                    i.fas.fa-signature
            span.span-error.is-size-6.has-text-danger #{ errors.signup_fullname }
        .field
            label.label Username
            .control.has-icons-left.has-icons-right
                input#signup-uname.input.is-link(
                    type='text',
                    placeholder='Username',
                    name='signup_username'
                )
                span.icon.is-small.is-left
                    i.fas.fa-circle-user
            span.span-error.is-size-6.has-text-danger #{ errors.signup_username }
        .field
            label.label Email
            .control.has-icons-left.has-icons-right
                input#signup-email.input.is-link(
                    type='text',
                    placeholder='Email',
                    name='signup_email'
                )
                span.icon.is-small.is-left
                    i.fas.fa-envelope
            span.span-error.is-size-6.has-text-danger #{ errors.signup_email }
        .field
            label.label Password
            .control.has-icons-left.has-icons-right
                input.password-field.input.is-link(
                    type='password',
                    placeholder='Password',
                    name='signup_password'
                )
                span.icon.is-small.is-left
                    i.bi.bi-key
                span.eye.is-small.is-right
                    i#signup-eye.eye-icon.fas.fa-eye-slash(
                        style='cursor: pointer; z-index: 1'
                    )
            span.span-error.is-size-6.has-text-danger #{ errors.signup_password }
        p(style="color:darkorange;margin-top: 5px;")
            | Already An User ? 
            a(href='/signin', style="color:darkorange;")
                | Login
        .field.is-grouped
            .control
                input#signup-submit.button.is-link(
                    type='submit',
                    value='Create Account',
                    style="margin-top:10px;"
                )
block script
    script(src="./js/signup.js")
