extends ../templates/base.pug
block title
    title Signin

block navbar
    include ../shared/navbar.pug

block content
    form.form-container(action='', method='POST')
        .field 
            |
            |
            h1.is-size-1.has-text-centered Sign In
            p.span-error.has-text-centered.has-text-danger= userDoesntExist
            p.span-error.has-text-danger.has-text-right= signinPasswordOk
        .field
            label.label Username
            .control.has-icons-left.has-icons-right
                input#username.input.is-link(
                    type='text',
                    placeholder='Username',
                    name='signin_username'
                )
                span.icon.is-small.is-left
                    i.fas.fa-user-circle
            p.span-error.has-text-danger.has-text-right #{ error.signin_username }
        .field
            label.label Password
            .control.has-icons-left.has-icons-right
                input.password-field.input.is-link(
                    type='password',
                    placeholder='Password',
                    name='signin_password'
                )
                span.icon.is-small.is-left
                    i.bi.bi-key
                span.eye.is-small.is-right
                    i#login-eye.eye-icon.fas.fa-eye-slash
            p.span-error.has-text-danger.has-text-right #{ error.signin_password }
        .field.is-grouped(style='margin-top: 16px !important')
            .control
                button#login.button.is-link Login
        .field.has-text-centered
            .control
                span
                    p.has-text-danger(style='margin-top: 16px')
                        | First Time Here ?
                        a.mx-1.has-text-warning(href='/signup')
                            | Register
                    p(style='color: darkorange')
                        | Forgot Password ?
                        a(href='/forgot-password', style='color: darkorange') 
                            |
                            |
                            | Reset
block script
    script(src='./js/signin.js')
